[submodule "tongstock"]
	path = tongstock
	url = https://github.com/sjzsdu/tongstock.git
[submodule "pytdx"]
	path = pytdx
	url = https://github.com/rainx/pytdx.git
[submodule "opentdx"]
	path = opentdx
	url = https://github.com/LisonEvf/opentdx
